streamlit
langchain
langchain-community
langchain-core
langchain-classic
langchain-google-genai
langchain-huggingface
google-generativeai

python-dotenv

sentence-transformers
faiss-cpu

pandas
numpy
scikit-learn

datasets

vaderSentiment
langdetect
deep-translator

pillow
